<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="StationId" value="" />
  <add key="SiteName" value="" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="ServerIP" value="UnifyHipath4KLB.spokvdev.com" />
  <add key="ServerPort" value="5671" />
  <add key="LogPath" value="%ProgramData%\Spok\Logs" />
  <add key="LogName" value="SpokCTIClient" />
  <add key="ConnectionType" value="RabbitMQ" />
  <add key="TimeOut" value="5000" />
  <add key="MainExtension" value="8014" />
  <add key="Integration" value="Unify4K" />
  <add key="PhoneConfigFileLocation" value="PhoneButtonConfig.config" />
  <add key="ParkingLotURI" value="UnifyHipath4KLB.spokvdev.com" />
  <add key="ParkingLotSiteName" value="Unify4k" />
  <add key="ParkDateTimeFormat" value="" />
  <add key="DefaultExtensionToRetrievePark" value="" />
  <add key="ListenerPort" value="973" />
  <add key="ConsultRetrieveParkedCall" value="False" />
</appSettings>