<CTIButtonConfiguration>
  <Button ID="1" type="line_appearance">
    <ButtonID value="263" />
    <LampID value="263" />
    <Address value="1" />
    <Extension value="8014" />
    <ACD value="True" />
    <Private value="False" />
    <Bridge value="False" />
  </Button>
  <Button ID="2" type="line_appearance">
    <ButtonID value="264" />
    <LampID value="264" />
    <Address value="2" />
    <Extension value="8017" />
    <ACD value="False" />
    <Private value="True" />
    <Bridge value="False" />
  </Button>
  <Button ID="3" type="line_appearance">
    <ButtonID value="265" />
    <LampID value="265" />
    <Address value="3" />
    <Extension value="8022" />
    <ACD value="False" />
    <Private value="False" />
    <Bridge value="True" />
  </Button>
  <Button ID="4" type="line_appearance">
    <ButtonID value="266" />
    <LampID value="266" />
    <Address value="4" />
    <Extension value="8023" />
    <ACD value="False" />
    <Private value="False" />
    <Bridge value="True" />
  </Button>
  <Button ID="5" type="line_appearance">
    <ButtonID value="267" />
    <LampID value="267" />
    <Address value="5" />
    <Extension value="8024" />
    <ACD value="False" />
    <Private value="False" />
    <Bridge value="True" />
  </Button>
</CTIButtonConfiguration>