<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
    <section name="cnfgClient" type="Amcom.Configuration.ConfigSection, Amcom.Clam" />
    <section name="oauthClientConfig" type="Amcom.Configuration.ConfigSection, Amcom.Clam" />
    <section name="providers" type="Amcom.Configuration.ConfigSection, Amcom.Clam" />
    <section name="dataServices" type="Amcom.Configuration.ConfigSection, Amcom.Clam" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings file="appSettings.config" />
  <cnfgClient type="Amcom.DataRepository.Domain.Services.Entities.Config.ConfigClientSettings, Amcom.DataRepository.Domain.Services.Entities" clientId="Spok.Park" clientPwd="Spok!Rul3s" url="%property{ParkingLotURI}/ConfigService/Configuration.svc" />
  <oauthClientConfig type="Amcom.Security.OAuth.Client.Configuration, Amcom.Security.OAuth">
    <StsServers>
      <StsServer>
        <Name>DataRepositorySTS</Name>
        <ClientId>Amcom.DataRepository.CoreService</ClientId>
        <ClientSecret>Amcom!Rul3s</ClientSecret>
        <TokenEndpointUrl>{AuthService}OAuth2-31</TokenEndpointUrl>
        <EndUserLoginUrl>{AuthService}Public/Home/Login</EndUserLoginUrl>
        <StsServiceUrl>{AuthService}STS.svc/</StsServiceUrl>
      </StsServer>
    </StsServers>
    <Resources>
      <Resource>
        <Cookie>ADRS.OAUTHTOK</Cookie>
        <Automatic>false</Automatic>
        <Url>{CoreService}</Url>
        <StsName>DataRepositorySTS</StsName>
        <RelyingPartyRealm>http://amcomsoft.com/DataRepositoryService</RelyingPartyRealm>
        <Scope>http://amcomsoft.com/DataRepositoryService</Scope>
      </Resource>
      <Resource>
        <Automatic>true</Automatic>
        <Url>{TenantService}</Url>
        <StsName>DataRepositorySTS</StsName>
        <RelyingPartyRealm>http://amcomsoft.com/DataRepositoryService</RelyingPartyRealm>
        <Scope>http://amcomsoft.com/DataRepositoryService</Scope>
      </Resource>
    </Resources>
    <RedirectUrlAfterConsent>http://localhost/dummy_redirect</RedirectUrlAfterConsent>
    <CookieEncryptionKey>ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F</CookieEncryptionKey>
    <CookieSigningKey>21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281BF</CookieSigningKey>
  </oauthClientConfig>
  <providers type="Amcom.Structure.SingletonProviderSettings, Amcom.Common">
    <provider name="settingsManager" type="Amcom.DataRepository.Domain.Services.Entities.Config.ConfigClientSettingsManager, Amcom.DataRepository.Domain.Services.Entities" />
    <provider name="dataServiceContextAuthProvider" type="Amcom.Security.OAuth.Client.SystemTokenAuthProvider, Amcom.Security.OAuth" />
    <provider name="configTagProvider" type="Amcom.DataRepository.Domain.Services.Entities.Config.ConfigTagProvider, Amcom.DataRepository.Domain.Services.Entities" />
    <provider name="systemPrincipal" type="Amcom.Security.OAuth.Client.SystemPrincipalProvider, Amcom.Security.OAuth" />
  </providers>
  <!-- WCF-DS Service URIs -->
  <dataServices baseUri="" type="Amcom.Data.DataServicesSettings, Amcom.Common" databaseType="MSSQL">
    <dataService name="ITenantEntities" uri="{TenantService}v1-0" />
  </dataServices>
  <log4net>
    <level>
      <name value="DEV" />
      <value value="50000" />
    </level>
    <root>
      <level value="ALL" />
      <appender-ref ref="Appender" />
    </root>
    <logger name="ConnectionLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ConnectionAppender" />
    </logger>
    <appender name="Appender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogPath}/%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
      <layout type="Log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger{1} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEV" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <appender name="ConnectionAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogPath}/SpokConnectionLibrary.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
      <layout type="Log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>